{% extends 'base.html' %}

{% block content %}

<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <h3 class="card-header  text-center">Forget Password</h3>
            <form class="" action="{% url 'account:forgot_password' %}" method="post" style="width:100%; padding:20px">
                {% csrf_token %}
                <div class="register-form">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" type="text" placeholder="E-mail" name="email">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block">Send Reset Password link</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<p class="text-center mt-4">Remember password?
    <a href="{% url 'account:login' %}">Login</a>
</p>
<p class="text-center">Do not have an account?
    <a href="{% url 'account:register' %}">Register</a>
</p>
<br><br>
</div>
</div>
<!-- Login End -->

{% endblock %}