{% extends 'base.html' %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
      {% comment %} <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
   {% endcomment %}
      <div class="container">
        <div class="d-grid m-5">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">نام و نام خانوادگی</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.get_full_name }} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">ایمیل</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.email }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">تلفن</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.phone_number }}</p>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}