{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Login & Register</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <h3 class="card-header  text-center">Reset password</h3>
            <form class="" action="{% url 'account:reset_password' %}" method="post" style="width:100%; padding:20px">
                {% csrf_token %}
                <div class="register-form">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" type="password" placeholder="New password" name="password">
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="password" placeholder="Confirm Password"
                                name="confirm_password">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<br><br>
</div>
</div>
<!-- Login End -->

{% endblock %}