{% extends 'base.html' %}
{% block style %}{% endblock  %}
{% block content %}

<div class="container my-5">

    <div class="card mx-5">
      <div class="card-body mx-5">
        <h5 class="card-title py-3 border-bottom">{{ object.title }}</h5>
        <img class="rounded mx-auto d-block mb-3 img-fluid" src="{{ object.image.url }}" width="50%" hieght="50%">
        <p class="card-text fs-6 lh-lg" style="text-align: justify;">
            {{ object.description }}
        </p>
      </div>
    </div>
  </div>    

{% endblock  %}
{% block script %}{% endblock  %}