{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<!-- Category Start-->

<div class="category">
    <div class="container-fluid">
        <div class="row">
            {% for item in object_list %}

            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="{{ item.image.url }}" />
                    <a class="category-name" href="{% url 'category:detail' item.slug %}">
                        <p>{{ item.title }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Category End-->

{% endblock %}